<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.mHBS" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>mHBS</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-fabric-plugin" spec="^1.1.14-dev">
        <variable name="FABRIC_API_KEY" value="b40e830e776f80dffd15e8df6ba58733a36b1e48" />
        <variable name="FABRIC_API_SECRET" value="c308c5f1b372bab0c488e92c997d17ee8930b538bb5cf2d514818ff1fe7f84ba" />
    </plugin>
    <engine name="android" spec="^7.0.0" />
</widget>
